<ul>
    <li vd-draggable *ngFor="let item of inputTable" [dragOverClass]="'drag-over-border'" [dragData]="item" [dragScope]="item.type">
        {{item.name}}
    </li>
</ul>

<ul>
    <li vd-draggable *ngFor="let item of inputTable" [dragOverClass]="'drag-over-border'" [dragData]="item" [dragScope]="item.type"
        [dragHandle]="'.drag-handle'" [dragHandle]="'.drag-handle'">
        {{item.name}} <span class="drag-handle"> handle me! </span>
    </li>
</ul>


<div style="width: 200px;" vd-droppable [dragOverClass]="'drag-target-border'" [dropScope]="'vegetable'" (onDrop)="onDrop($event)">
    Darg here
    <ul>
        <li *ngFor="let item of outpuTable">{{item.name}}</li>
    </ul>
</div>
